body{
    background-image: url(pic.png);
    background-repeat: no-repeat;
}

   #block{
  width: 400px;
  height: 100px;
  font-size: 70px;
 
  color: white;
  position: absolute;
  top : 50%;
  left :38%
  
  

}

#king{
  width: 400px;
  height: 100px;
  color: white;
  font-size: 55px;text-align: center;
  position: absolute;
  top : 65%;
  left : 35%
}


#day{
  width: 80px;
  height: 55px;
  color: white;
  font-size: 45px;text-align: center;
  border: 3px solid  white;

  position: absolute;
  top : 58%;
  left : 63%
  
}
